@import url('../fonts/Acrom/stylesheet.css');
@import url('../fonts/TTNorms/stylesheet.css');
@import url('../fonts/Montserrat/stylesheet.css');
@import url('../fonts/Geometria/stylesheet.css');
@import url('../fonts/Roboto/stylesheet.css');
@import url('../fonts/Comic/stylesheet.css');
@import url('../fonts/Gilroy/stylesheet.css');
@import url('../fonts/GothamPro/stylesheet.css');
.auto{position:absolute;top:0;left:0;height:100%;width:100%;color:#fff;font-family: "TT Norms",sans-serif;}
.auto .icon{background-position:center;background-size:contain}
.auto .icon.acceleration{background-image:url(../images/img/auto/acceleration.svg)}
.auto .icon.cost{background-image:url(../images/img/auto/cost.svg)}
.auto .icon.place{background-image:url(../images/img/auto/place.svg)}
.auto .icon.speed{background-image:url(../images/img/auto/speed.svg)}
.auto .icon.massa{background-image: url(../images/img/auto/massa.png);background-repeat: no-repeat;background-size: contain;}
.auto .icon.tire{background-image: url(../images/img/auto/auto_logo2.png);background-repeat:no-repeat;}
.auto .colors-menu__item.black{background-color:#000}
.auto .colors-menu__item.white{background-color:#fff}
.auto .colors-menu__item.red{background-color:#e60000}
.auto .colors-menu__item.orange{background-color:#ff7300}
.auto .colors-menu__item.yellow{background-color:#f0f000}
.auto .colors-menu__item.green{background-color:#00e600}
.auto .colors-menu__item.sky{background-color:#00cdff}
.auto .colors-menu__item.blue{background-color:#0000e6}
.auto .colors-menu__item.violet{background-color: #E64AA9;}
.auto .colors-menu__item.aliceblue {background-color: #f0f8ff;}
.auto .colors-menu__item.antiquewhite {background-color: #faebd7;}
.auto .colors-menu__item.aqua {background-color: #0ff;}
.auto .colors-menu__item.aquamarine {background-color: #7fffd4;}
.auto .colors-menu__item.azure {background-color: #f0ffff;}
.auto .colors-menu__item.beige {background-color: #f5f5dc;}
.auto .colors-menu__item.bisque {background-color: #ffe4c4;}
.auto .colors-menu__item.black {background-color: #000;}
.auto .colors-menu__item.blanchedalmond {background-color: #ffebcd;}
.auto .colors-menu__item.blue {background-color: #00f;}
.auto .colors-menu__item.blueviolet {background-color: #8a2be2;}
.auto .colors-menu__item.brown {background-color: #a52a2a;}
.auto .colors-menu__item.burlywood {background-color: #deb887;}
.auto .colors-menu__item.burntsienna {background-color: #ea7e5d;}
.auto .colors-menu__item.cadetblue {background-color: #5f9ea0;}
.auto .colors-menu__item.chartreuse {background-color: #7fff00;}
.auto .colors-menu__item.chocolate {background-color: #d2691e;}
.auto .colors-menu__item.coral {background-color: #ff7f50;}
.auto .colors-menu__item.cornflowerblue {background-color: #6495ed;}
.auto .colors-menu__item.cornsilk {background-color: #fff8dc;}
.auto .colors-menu__item.crimson {background-color: #dc143c;}
.auto .colors-menu__item.cyan {background-color: #0ff;}
.auto .colors-menu__item.darkblue {background-color: #00008b;}
.auto .colors-menu__item.darkcyan {background-color: #008b8b;}
.auto .colors-menu__item.darkgoldenrod {background-color: #b8860b;}
.auto .colors-menu__item.darkgray {background-color: #a9a9a9;}
.auto .colors-menu__item.darkgreen {background-color: #006400;}
.auto .colors-menu__item.darkgrey {background-color: #a9a9a9;}
.auto .colors-menu__item.darkkhaki {background-color: #bdb76b;}
.auto .colors-menu__item.darkmagenta {background-color: #8b008b;}
.auto .colors-menu__item.darkolivegreen {background-color: #556b2f;}
.auto .colors-menu__item.darkorange {background-color: #ff8c00;}
.auto .colors-menu__item.darkorchid {background-color: #9932cc;}
.auto .colors-menu__item.darkred {background-color: #8b0000;}
.auto .colors-menu__item.darksalmon {background-color: #e9967a;}
.auto .colors-menu__item.darkseagreen {background-color: #8fbc8f;}
.auto .colors-menu__item.darkslateblue {background-color: #483d8b;}
.auto .colors-menu__item.darkslategray {background-color: #2f4f4f;}
.auto .colors-menu__item.darkslategrey {background-color: #2f4f4f;}
.auto .colors-menu__item.darkturquoise {background-color: #00ced1;}
.auto .colors-menu__item.darkviolet {background-color: #9400d3;}
.auto .colors-menu__item.deeppink {background-color: #ff1493;}
.auto .colors-menu__item.deepskyblue {background-color: #00bfff;}
.auto .colors-menu__item.dimgray {background-color: #696969;}
.auto .colors-menu__item.dimgrey {background-color: #696969;}
.auto .colors-menu__item.dodgerblue {background-color: #1e90ff;}
.auto .colors-menu__item.firebrick {background-color: #b22222;}
.auto .colors-menu__item.floralwhite {background-color: #fffaf0;}
.auto .colors-menu__item.forestgreen {background-color: #228b22;}
.auto .colors-menu__item.fuchsia {background-color: #f0f;}
.auto .colors-menu__item.gainsboro {background-color: #dcdcdc;}
.auto .colors-menu__item.ghostwhite {background-color: #f8f8ff;}
.auto .colors-menu__item.gold {background-color: #ffd700;}
.auto .colors-menu__item.goldenrod {background-color: #daa520;}
.auto .colors-menu__item.gray {background-color: #808080;}
.auto .colors-menu__item.green {background-color: #008000;}
.auto .colors-menu__item.greenyellow {background-color: #adff2f;}
.auto .colors-menu__item.grey {background-color: #808080;}
.auto .colors-menu__item.honeydew {background-color: #f0fff0;}
.auto .colors-menu__item.hotpink {background-color: #ff69b4;}
.auto .colors-menu__item.indianred {background-color: #cd5c5c;}
.auto .colors-menu__item.indigo {background-color: #4b0082;}
.auto .colors-menu__item.ivory {background-color: #fffff0;}
.auto .colors-menu__item.khaki {background-color: #f0e68c;}
.auto .colors-menu__item.lavender {background-color: #e6e6fa;}
.auto .colors-menu__item.lavenderblush {background-color: #fff0f5;}
.auto .colors-menu__item.lawngreen {background-color: #7cfc00;}
.auto .colors-menu__item.lemonchiffon {background-color: #fffacd;}
.auto .colors-menu__item.lightblue {background-color: #add8e6;}
.auto .colors-menu__item.lightcoral {background-color: #f08080;}
.auto .colors-menu__item.lightcyan {background-color: #e0ffff;}
.auto .colors-menu__item.lightgoldenrodyellow {background-color: #fafad2;}
.auto .colors-menu__item.lightgray {background-color: #d3d3d3;}
.auto .colors-menu__item.lightgreen {background-color: #90ee90;}
.auto .colors-menu__item.lightgrey {background-color: #d3d3d3;}
.auto .colors-menu__item.lightpink {background-color: #ffb6c1;}
.auto .colors-menu__item.lightsalmon {background-color: #ffa07a;}
.auto .colors-menu__item.lightseagreen {background-color: #20b2aa;}
.auto .colors-menu__item.lightskyblue {background-color: #87cefa;}
.auto .colors-menu__item.lightslategray {background-color: #789;}
.auto .colors-menu__item.lightslategrey {background-color: #789;}
.auto .colors-menu__item.lightsteelblue {background-color: #b0c4de;}
.auto .colors-menu__item.lightyellow {background-color: #ffffe0;}
.auto .colors-menu__item.lime {background-color: #0f0;}
.auto .colors-menu__item.limegreen {background-color: #32cd32;}
.auto .colors-menu__item.linen {background-color: #faf0e6;}
.auto .colors-menu__item.magenta {background-color: #f0f;}
.auto .colors-menu__item.maroon {background-color: #800000;}
.auto .colors-menu__item.mediumaquamarine {background-color: #66cdaa;}
.auto .colors-menu__item.mediumblue {background-color: #0000cd;}
.auto .colors-menu__item.mediumorchid {background-color: #ba55d3;}
.auto .colors-menu__item.mediumpurple {background-color: #9370db;}
.auto .colors-menu__item.mediumseagreen {background-color: #3cb371;}
.auto .colors-menu__item.mediumslateblue {background-color: #7b68ee;}
.auto .colors-menu__item.mediumspringgreen {background-color: #00fa9a;}
.auto .colors-menu__item.mediumturquoise {background-color: #48d1cc;}
.auto .colors-menu__item.mediumvioletred {background-color: #c71585;}
.auto .colors-menu__item.midnightblue {background-color: #191970;}
.auto .colors-menu__item.mintcream {background-color: #f5fffa;}
.auto .colors-menu__item.mistyrose {background-color: #ffe4e1;}
.auto .colors-menu__item.moccasin {background-color: #ffe4b5;}
.auto .colors-menu__item.navajowhite {background-color: #ffdead;}
.auto .colors-menu__item.navy {background-color: #000080;}
.auto .colors-menu__item.oldlace {background-color: #fdf5e6;}
.auto .colors-menu__item.olive {background-color: #808000;}
.auto .colors-menu__item.olivedrab {background-color: #6b8e23;}
.auto .colors-menu__item.orange {background-color: #ffa500;}
.auto .colors-menu__item.orangered {background-color: #ff4500;}
.auto .colors-menu__item.orchid {background-color: #da70d6;}
.auto .colors-menu__item.palegoldenrod {background-color: #eee8aa;}
.auto .colors-menu__item.palegreen {background-color: #98fb98;}
.auto .colors-menu__item.paleturquoise {background-color: #afeeee;}
.auto .colors-menu__item.palevioletred {background-color: #db7093;}
.auto .colors-menu__item.papayawhip {background-color: #ffefd5;}
.auto .colors-menu__item.peachpuff {background-color: #ffdab9;}
.auto .colors-menu__item.peru {background-color: #cd853f;}
.auto .colors-menu__item.pink {background-color: #ffc0cb;}
.auto .colors-menu__item.plum {background-color: #dda0dd;}
.auto .colors-menu__item.powderblue {background-color: #b0e0e6;}
.auto .colors-menu__item.purple {background-color: #800080;}
.auto .colors-menu__item.rebeccapurple {background-color: #663399;}
.auto .colors-menu__item.red {background-color: #f00;}
.auto .colors-menu__item.rosybrown {background-color: #bc8f8f;}
.auto .colors-menu__item.royalblue {background-color: #4169e1;}
.auto .colors-menu__item.saddlebrown {background-color: #8b4513;}
.auto .colors-menu__item.salmon {background-color: #fa8072;}
.auto .colors-menu__item.sandybrown {background-color: #f4a460;}
.auto .colors-menu__item.seagreen {background-color: #2e8b57;}
.auto .colors-menu__item.seashell {background-color: #fff5ee;}
.auto .colors-menu__item.sienna {background-color: #a0522d;}
.auto .colors-menu__item.silver {background-color: #c0c0c0;}
.auto .colors-menu__item.skyblue {background-color: #87ceeb;}
.auto .colors-menu__item.slateblue {background-color: #6a5acd;}
.auto .colors-menu__item.slategray {background-color: #708090;}
.auto .colors-menu__item.slategrey {background-color: #708090;}
.auto .colors-menu__item.snow {background-color: #fffafa;}
.auto .colors-menu__item.springgreen {background-color: #00ff7f;}
.auto .colors-menu__item.steelblue {background-color: #4682b4;}
.auto .colors-menu__item.tan {background-color: #d2b48c;}
.auto .colors-menu__item.teal {background-color: #008080;}
.auto .colors-menu__item.thistle {background-color: #d8bfd8;}
.auto .colors-menu__item.tomato {background-color: #ff6347;}
.auto .colors-menu__item.turquoise {background-color: #40e0d0;}
.auto .colors-menu__item.violet {background-color: #ee82ee;}
.auto .colors-menu__item.wheat {background-color: #f5deb3;}
.auto .colors-menu__item.white {background-color: #fff;}
.auto .colors-menu__item.whitesmoke {background-color: #f5f5f5;}
.auto .colors-menu__item.yellow {background-color: #ff0;}
.auto .colors-menu__item.yellowgreen {background-color: #9acd32;}
.auto .sidebars-container{display:flex;justify-content:space-between;align-items:center;position:absolute;width:100%;top: 0;margin-top: 0;padding: 0 0 0;box-sizing:border-box;overflow:hidden;}
.auto h2,.auto h3{margin:0;padding:10px 15px}
.auto .list{display:flex;flex-direction:column;width: 100%;box-sizing:border-box;padding:0;margin-bottom:0;margin-left: 0;}
.auto .list__item{display:flex;padding: 1vh;align-items:center;justify-content:space-between;background-repeat: no-repeat;background-position: left;background-size: contain;width: auto;background: #0b3a6126;margin: 0;margin-bottom: 0.7vh;}
.auto .list__item .heading{display: inline-block;align-items:center;font-size: 1.3vh;padding-left: 0;margin-bottom: 0;font-weight: 300;}
.auto .list__item .heading .icon{height:20px;width:20px;margin-right:10px;display: none;}
.auto .list__item .description{font-weight: 600;font-size: 1.3vh;text-align: center;}
.auto .left-menu,.auto .right-menu,.auto .bottom-menu{border-radius: 0;background-image: none,url(../images/bbb2.png);background-size:cover;background-position: right;padding-bottom: 0;background: none;}
.auto .left-menu{display:flex;flex-direction:column;align-items:center;width: 35vh;background-position: top center;height: 100vh;background: rgba(34,33,35,0.7);border-radius: 0 .92593vh .92593vh 0;z-index: 999;}
.auto .left-menu h3{margin-bottom:15px;padding:0;text-align:center;display:none}
.auto .left-menu .list{max-height: 82vh;overflow:auto;}
.auto .left-menu .list__item:hover{background: #00a5fb;opacity: .7;}
.auto .left-menu .logo{height: 13vh;width:100%;margin-top: 0;margin-bottom: 2vh;}
.auto .filters-panel{display:flex;justify-content:space-between;box-sizing:border-box;width:100%;padding:0 90px;margin-bottom:15px}
.auto .filters-panel__item{display:flex;justify-content:center;align-items:center;padding:5px;border:1px solid #fff;border-radius:5px}
.auto .filters-panel__item:hover{background-color:#00580d9e;border:1px solid #00580d9e}
.auto .filters-panel__item .icon{height:35px;width:35px}
.auto .right-menu{flex-direction: column;width: 30vh;overflow-x: auto;height: 43vh;display: flex;align-items: center;justify-content: center;padding: 0 1vh;background: rgba(34,33,35,0.7);border-radius: .92593vh 0 0 .92593vh;transform: skewY(-3deg);position: relative;z-index: 999;}
.auto .right-menu h2{margin-top: 0;font-size: 2vh;text-align: left;font-weight: 300;margin-bottom: 1vh;display: block;width: 100%;padding: 0;}
.auto .right-menu h3{margin-bottom:5px;font-size:14px;display: none;}
.auto .colors-menu{display: flex;justify-content:center;align-items:center;flex-wrap:wrap;margin-top: 2vh;margin-bottom: 0;padding: 0 3vh;position: absolute;width: 100%;text-align: center;bottom: 3vh;}
.auto .colors-menu__item{height: 3vh;width: 3vh;border-radius:0;cursor:pointer;box-sizing:border-box;border-radius: 50%; /* for Opera */border: 0.3vh solid #00a5fb4a;}
.auto .colors-menu__item:hover{opacity:.6}
.auto .colors-menu__item{margin: 0.3vh;}
.auto .colors-menu__item:not(:last-child){margin: 0.3vh;}
.auto .bottom-menu{display: block;position: relative;padding: 1vh 0;background: none;margin-top: 2vh;z-index: 99;}
.auto .bottom-menu .button{display: inline-block;justify-content:center;padding: 1vh;border: 0vh solid;border-radius: 0.5vh;background-position: 0 0;background: #00a5fb;font-size: 1.6vh;margin: 0vh;}
.auto .bottom-menu .button:hover{background: #00a3ff;opacity: .7;}
.auto .bottom-menu .button:not(:last-child){margin-right: 0;}
.auto .bottom-menu .button.green{cursor:pointer;}
.auto .bottom-menu .button.red{cursor:pointer;}
.auto .bottom-menu .button.green:hover{}
.auto .bottom-menu .button.red:hover{background: #00a3ff;/* color:#fff; */}

.auto .right-menu .list__item{display: inline-block;padding: 0;align-items:center;justify-content:space-between;background-repeat: no-repeat;background-position: left;background-size: contain;width: 100%;background: none;margin: 1.5vh 0;}
.auto .right-menu .list__item .description {
    font-weight: 600;
    font-size: 1.8vh;
    text-align: center;
    display: inline-block;
    padding-left: 1vh;
}
.auto .left-menu .list__item .description:last-child {
    font-size: 1.2vh;
    font-weight: 400;
}
.auto .left-menu .list__item:active {
    opacity: 0.6;
}